<h2>Редактирование профиля</h2>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>
	<div class="field">
	  <%= f.label :name, "Имя пользователя"  %><br />
	  <%= f.text_field :name %>
	</div>
	<div class="field">
	  <%= f.label :email, "Адрес электронной почты" %><br />
	  <%= f.text_field :email %>
	</div>
	<div class="field">
	  <%= f.label :password, "Пароль" %><br />
	  <%= f.password_field :password %>
	</div>
	<div class="field">
	  <%= f.label :password_confirmation, "Подтверждение пароля" %><br />
	  <%= f.password_field :password_confirmation %>
	</div>
	<div class="actions">
	  <%= f.submit "Update" %>
	</div>
<% end %>

