<!DOCTYPE html>
<html lang="ru">
  <head>
		<meta charset="UTF-8" />
    <title><%= title %></title>
		<%= stylesheet_link_tag 'main', :media => 'screen' %>
  </head>
  <body>
		<table class="table_main">
			<tr><td class="top">
			<!-- top -->
				<%= render 'layouts/header' %>
				<div id="content">
					<%= yield %>
				</div>
			<!-- /top -->
			</td></tr>
			<tr><td class="bottom">
			<!-- bottom -->
				<%= render 'layouts/footer' %>
			<!-- bottom -->
			</td></tr>
		</table>
  </body>
</html>

