<!DOCTYPE html>
<html lang="ru">
  <head>
		<meta charset="UTF-8" />
    <title><%= title %></title>
		<%= stylesheet_link_tag 'main', :media => 'screen' %>
  </head>
  <body>
		<header>
			<h1>Автошка online</h1>
		</header>
		<nav class="round">
			<ul>
				<li><%= link_to "Свежий номер", '#' %></li>
				<li><%= link_to "Архив", '#' %></li>
				<li><%= link_to "Авторы", '#' %></li>
				<li><%= link_to "Общение", '#' %></li>
				<li><%= link_to "О сайте", '#' %></li>
			</ul>
		</nav>
		<section>
			<%= yield %>
		</section>
		<footer class="round">
				citi7en
		</footer>
  </body>
</html>

